* {
  font-family: "Nunito", sans-serif;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0 auto;
}

main {
  height: 100vh;
}

.container {
  height: 100%;
}

header {
  display: flex;
  background-color: #5e81d1;
  padding: 15px 0px;
}

img {
  height: 25px;
  width: 25px;
}

h1 {
  font-size: 1em;
  flex: 1;
  padding-left: 15px;
  justify-content: center;
}

h2 {
  background-color: #f87500;
}

nav {
  flex: 1;
  justify-content: center;
  text-align: center;
}

ul {
  display: flex;
  list-style: none;
  padding: 0;
  font-size: 0.65em;
}

.container-navigation a,
a:visited {
  text-decoration: none;
  color: black;
}

.container-navigation li {
  padding: 0px 18px;
  flex: 1;
}

.container-navigation {
  font-weight: bold;
}
.container-secondary-menu {
  padding: 12px;
  display: flex;
  justify-content: space-between;
  background-color: #f87500;
}

.checkbox-list {
  display: flex;
  background-color: #ff8d27;
}

.checkbox-list-food {
  flex: 8;
}

.checkbox-list-food section {
  padding: 5px;
}

.checkbox-list-price {
  flex: 2;
  flex-direction: column;
}

.total-price {
  text-align: right;
  padding: 5px;
  border-top: solid 1px white;
  background-color: #ff8d27;
  height: 100%;
}

.modificar-button {
  background-color: #5e81d1;
}

.form-container {
  background-color: #ff8d27;
  height: 100vh;
}

input[type="checkbox"]:checked + label.strikethrough {
  text-decoration: line-through;
}
